*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-1{
    width:calc(100% / 12);
}
.col-2{
    width:calc(100% / 6);
}
.col-3{
    width:25%;
}
.col-4{
    width:calc(100% / 3);
}
.col-5{
    width:calc(100% / 12 * 5);
}
.col-6{
    width:50%;
}
.col-7{
    width:calc(100% / 12 * 7);
}
.col-8{
    width:calc(100% / 12 * 8);
}
.col-9{
    width:75%;
}
.col-10{
    width:calc(100% / 12 * 10);
}
.col-11{
    width:calc(100% / 12 * 11);
}
.col-12{
    width:100%;
}

form{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    /*background-color: rgba(45, 41, 41,.5);*/
    background-color: rgb(45, 41, 41);
}

form div{
    padding: 20px;
}

label, div h5{
    display: block;
    color: white;
}

/*input[type=text],input[type=date],input[type=number]{*/
input:not([type=checkbox],[type=radio]){
    width: 100%;
    padding: 8px 10px;
    border: none;
    border-bottom: 5px solid rgb(6, 132, 113);
    outline: none;
    border-bottom-width: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 3rem;
    background-position: center right;
    /*outline: 1px solid red;
    outline-offset: 5px;*/
}

input:not([type=checkbox],[type=radio]):focus{
    border-bottom: 5px solid rgb(8, 189, 162)
}

input:not([type=checkbox],[type=radio]):hover{
    background-color: rgb(233, 250, 248)
}

input[type=checkbox] + label{
    display: inline;
}

.validado input:not([type=checkbox],[type=radio]):valid{
    border: 1px solid rgb(29, 181, 5);
    background-image: url(../imgs/check.png);
    border-bottom-width: 5px;
}

.validado input:not([type=checkbox],[type=radio]):invalid{
    border: 1px solid rgb(186, 12, 12);
    background-image: url(../imgs/x.png);
    border-bottom-width: 5px;
}
