*{
    /*font-size:14pt;*/
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*etiqueta aplica para las etiquetas colocadas como selector
*/
h2{ font-size:24pt; }
h3{ font-size:14pt; }
/*Selector de id precedido con #*/
#contEncabezado{ 
    color:rgb(0,255,200); 
    background-color: rgb(33, 30, 30);
    padding:50px;
}
div{ color:rgb(9, 141, 112);}

#secciones{
    font-size: 0;
    text-align: center;
}

#secciones li{
    display: inline-block;
    border: 1px solid #000;
    width: 20%;
}

#secciones li a{
    display: block;
    font-size: 16px;
    padding: 15px;
    text-align: center;
    /*width: 190px;*/
    
}
#contenido{
    height: 100vh;
    width: calc(100vw - 14px);
    background: lightblue;
}
#contenido div{
    border: 1px solid black;
    display: inline-block;
    width: 50%;
    height: 50%;
}