@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    /*font-size:14pt;*/
    margin:0;
    padding:0;
    box-sizing: border-box;

}

body{
    font-family: "Montserrat",Arial, Helvetica, sans-serif;
}
/*etiqueta aplica para las etiquetas colocadas como selector
*/
h2{ font-size:24pt; }
h3{ font-size:14pt; }
/*Selector de id precedido con #*/
#contEncabezado{ 
    color:#fff; 
    background-color: rgb(207, 19, 19);
    background-image: url(../imgs/banner.jpg);
    background-size: cover;/*100vw 40vh; cover;*/
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding:50px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    /*text-shadow: 3px 3px 5px #000000d8;*/
}
div{ color:rgb(9, 141, 112);}

#secciones{
    font-size: 0;
    text-align: center;
}

#secciones li{
    display: inline-block;
    border: 1px solid #000;
    width: 20%;
}

#secciones li a{
    display: block;
    font-size: 16px;
    padding: 15px;
    text-align: center;
    /*width: 190px;*/
    
}
#contenido{
    /*height: 100vh;*/
    /*width: calc(100vw - 14px);*/
    width:100%;
    background: lightblue;
    display: flex;
    flex-wrap: wrap; /*Permite que se respete el ancho de los hijos y que 
    los dibuje en tantas líneas como se requiera*/
}
#contenido div{
    border: 1px solid black;
    /*display: inline-block;*/
    width: 50%;
    height: 50vh;
    border-radius: 25%;
    overflow:hidden
}

#contacto{
    display: flex;
    width: 95%;
    margin: 0 auto;
    
}
 #contacto > div{
    width: 25%;
    display: flex;
    align-items: center;
    background: #ddd;
    border-radius: 50%;
 }
 #contacto div div{
    padding:15px;
 }
/*
 #contenido img{
    height: 400px;
    width: 400px;
    border-radius: 5px;
 }*/



 #objetivos div{
    background-image: url(../imgs/objetivos.jpg);
    background-size: cover;
    width: 50vh;
    height: 50vh;
    background-position: center;
    border-radius: 50%; 
    /* border-radius: 25% 50% 10% 5%; */
    /*border-top-right-radius: 22px;*/
 }

 #principal div{
    background-image: url(../imgs/banner.jpg);
    background-size: cover;
    background-position: center;
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
 }

 